.face-row {
	display:flex; 
	flex-wrap:wrap;
	margin-right:-10px; 
	max-height:100vh; 
	overflow:hidden;
	max-width:1200px;
	margin:0 auto; 
}
.face-container {
	width:20%; 
	padding-top:20%; 
	position:relative; 
}
.face-img {
	position:absolute; 
	top:0; 
	left:0; 
	right:8px;  
	bottom:8px;
	cursor:pointer; 
	background-size:cover; 
	background-position:center center; 
}
.face-container:nth-child(5n) > .face-img {
	right:0px; 
}

