.face-row {
	display:flex; 
	flex-wrap:wrap;
	margin-right:-10px; 
	max-height:100vh; 
	overflow:hidden;
	max-width:1200px;
	margin:0 auto; 
}
.face-container {
	width:20%; 
	padding-top:20%; 
	position:relative; 	
}
.face-container:nth-child(5n) > .face-img {
	right:0px; 
}
@media(max-width:600px){
	.face-container {
		width:25%; 
		padding-top:25%; 
	}
	.face-container:nth-child(4n) > .face-img {
		right:0px; 
	}
	.face-container:nth-child(5n) > .face-img {
		right:8px; 
	}
}
@media(max-width:400px) {
	.face-container {
		width:50%; 
		padding-top:50%; 
	}
	.face-container:nth-child(2n) > .face-img {
		right:0px; 
	}

	.face-container:nth-child(5n) > .face-img {
		right:8px; 
	}
}

.face-img {
	position:absolute; 
	top:0; 
	left:0; 
	right:8px;  
	bottom:8px;
	cursor:pointer; 
	background-size:cover; 
	background-position:center center; 

	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 11.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 11.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.italic { font-style: italic; }
.modal-body p {
	font-size:14px; 
	line-height:1.2;
}
.modal-button {
	background-color: #ffea00;
	cursor:pointer;
}
p.instructions {
	font-size: 16px; 
	font-weight:bold;
	margin-bottom:5px;
}
p.instructions span {
	text-decoration:underline;
}

